.container {
  border-bottom: 1px solid gray;
  width: 60%;
  margin: 0 auto;
}
.todoText {
  padding: 5px;
  flex: 1;
  font-size: 20px;
}
.enableEdit {
  border: 1px solid gray;
  border-radius: 8px;
}

p:focus-visible {
  border: none;
  outline: none;
  border: 1px solid gray;
}
.disableEdit {
  border: none;
  flex: 1;
}
.checkTodo {
  opacity: 0.5;
  text-decoration: line-through rgba(19, 219, 19, 0.521) 3px;
}

.oncheckTodo {
  opacity: 1;
}

.checkTodo,
.oncheckTodo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todosBtn {
  border-radius: 50%;
  border: 1px solid gray;
  outline: none;
  width: 30px;
  height: 30px;
  font-size: 18px;
  color: #7b7b7b;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  margin: 0 5px;
}
